//compileExpanded: ../css/$1.css

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  .main-header{
    line-height: 1.3;
    .header-content{
      padding: 40px 20px;
      h1{
        font-size: 50px;
      }
    }
  }
  .button{
    font-size: 18px !important;
  }
  .buttoncase{
    grid-column: 2 / 4 !important;
  }
  .portfolio-section{
    grid-template-columns: repeat(3, 1fr);
  }
  .protfolio-item{
    &:nth-child(4){
      grid-column: 2 / 4;
    }
    &:nth-child(5){
      grid-column: 1 / 3;
      grid-row: initial;
    }
    &:nth-child(6){
      grid-column: initial;
      grid-row: initial;
    }
  }

  .blog-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .blog-item{
      width: 48%;
      margin-bottom: 20px;
    }
    .buttoncase{
      width: 100%;
      text-align: center;
    }
  }
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  .main-header{
    .header-content{
      padding: 40px 20px;
      h1{
        font-size: 50px;
      }
    }
  }

  .landing-section{
    padding: 30px 0;
    h2{
      text-align: center;
      font-size: 25px;
    }
  }

  .section-ready{
    .container{
      grid-template-columns: 2fr;
      > div{
        padding: 0 8%;
      }
      .ready-left{
        border: 0;
      }
    }
  }

  .form-section{
    form{
      grid-template-columns: 1fr;
    }
  }

  .blog-home{
    display: flex;
    flex-direction: column;
    .blog-item{
      width: 100%;
      margin-bottom: 20px;
    }
  }

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .header-buttons{
    .button{
      margin-bottom: 20px;
    }
  }
  .portfolio-section{
    grid-template-columns: 1fr;
  }
  .protfolio-item{
    min-height: 50vh;
    &:nth-child(1){
      grid-column: initial;
    }
    &:nth-child(2){
      grid-column: initial;
    }
    &:nth-child(3){
      grid-column: initial;
    }
    &:nth-child(4){
      grid-column: initial;
    }
    &:nth-child(5){
      grid-column: initial;
    }
    &:nth-child(6){
      grid-column: initial;
    }
  }
  .buttoncase{
    grid-column: 1 / 2;
  }
}



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){}



/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px){}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){}



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){}
